@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
form{
    width: 480px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
body{
    background-color: #eee;
}
form>button{
    bottom: -18px;
}
.bodycomp>button{
    font-size: 12px;
    padding: 10px;
    bottom: -19px;
    right: 22px;
    font-weight: 600;
}